body{

    font-family:system-ui;
    font-size:90%;
    margin:auto;         
    padding:auto;         
    text-align:center; 
    
}

.back{
    text-align: left; 
    margin:0%;
    float: left;
}

.headitems{
    text-align: right; 
}

li {
    list-style: none;
    margin: auto;
    padding: auto;
}

 ul {
    display: flex;
    justify-content: center;
    padding-left:0%;
}

